.footer {
    ul {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        background-color: white;
        height: 10vh;
        align-items: center;
        flex-wrap: wrap;
        li {
            list-style: none;
            a {
                text-decoration: none;
                color: rgb(0, 0, 0);
                }
            a:hover {
                color: pink;
            }
        }
    }
}