.main-faq {
    background-image: url("../img/bck_img.jpg");
    a {
        text-decoration: none;
        color: white;
        margin-left: 10px;
    }
    h1 {
        text-align: center;
        color: white;
        margin: 5px;
        font-weight: 900;
        margin-bottom: 30px;
    }
    .cards_faq {
        div { 
        margin-left: 20vw;
        margin-right: 20vw;
        color: white;
        margin-bottom: 30px;
        border: solid 3px white;
        padding: 9px;
        text-align: justify;
        h3 {
            text-align: center;
            font-size: xx-large;
        }
        a {
            color: violet;
        }
        }
}
}
