.main-servicios {
    background-image: url("/img/bck_img.jpg");
    a {
        text-decoration: none;
        color: white;
        margin-left: 10px;
    }
    h1 {
        text-align: center;
        color: white;
        font-weight: 900;
        margin-bottom: 30px;
    }
    .flex-card {
        display: flex;
        flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

   
    .card {
        background-color: rgba(37, 14, 94, 0.787);
        .card-title {
            color: white;
        }
        .card-text {
            color: white;
        }
    }
    .card:hover {
        transition: 400ms;
        scale: 1.9;
        z-index: 2;
    }
    }
}